{% extends "base_app/base.html" %}
 
<!--GRAND-->
{% block production %}
 {% load staticfiles %}
<span id="templname" style="display:none;">production</span>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<br>
 
<div class="row columns">
<nav aria-label="You are here:" role="navigation">
<ul class="breadcrumbs">
<li><a href="/base/">Главная</a></li>
<li><a href="/c={{parent_href_over.alias}}/">{{parent_href_over.name}}</a></li>
<li><a href="/c={{parent_href.alias}}/">{{parent_href.name}}</a></li>
<li>
<span class="show-for-sr">Current: </span> {{production.name}}
</li>
</ul>
</nav>
</div>
<div class="row">
<div class="medium-6 columns">
{% if production.specifications.img %}
  <img class="thumbnail" src="{{production.specifications.img.url}}" alt="not found" style="/*width:650px;*/max-height: 350px;">
{% else %}
  <img class="thumbnail" src="" alt="Нет картинки" style="/*width:650px;*/max-height: 350px;">
{% endif %}
<!--<img class="thumbnail" src="{% static "{{production.specifications.img}}" %}" alt="not found" style="width:650px;height: 350px;">-->

</div>
<div class="medium-6 large-5 columns">
<h1 style="font-size: 44px;"><strong >{{production.name}}</strong></h1 style='font-size:24px;'>
<p>{{production.specifications.destiny}}</p>
<label>{#<h3>Цена за метр</h3>#}
<br>
<span style="color:#2199e8;"><h2>{{production.specifications.price}} {{production.parent.units_of_calculus}}</h2></span>
</label>
<div class="row">
<div class="small-3 columns">

</div>
<div class="small-9 columns">

</div>
</div>
<button data-open="myModal" aria-controls='myModal' id="call_modal_btn_id" class="button large expanded">Заказать сейчас</button>
<!--<button id="call_modal_btn_id" class="button large expanded">Заказать сейчас</button>-->
<div class="small secondary expanded button-group">
<!--<a class="button">Facebook</a>
<a class="button">Twitter</a>
<a class="button">Yo</a>-->
</div>
</div>
</div>
<hr>
<div class="row medium-10 large-9 columns" id="content_id">


<div class="tabs-content" data-tabs-content="example-tabs">
<div class="tabs-panel is-active" id="panel1">
<!--Описание продукции-->
{% if production.specifications.product_description %}
<div class="media-object stack-for-small">
    <h4 align="middle" style="color:#2199e8;">Описание продукции</h4>
    <div class="media-object-section">

        <p>{% autoescape off %}{{production.specifications.product_description}}{% endautoescape %}</p>
    </div>
</div>
{%endif%}
<!--Область применения-->
    {%if production.specifications.application_area%}
<div class="media-object stack-for-small">
<!--<div class="media-object-section">
<img class="thumbnail" src="http://placehold.it/200x200">
</div>-->
<div class="media-object stack-for-small text-left" >
<h4 align="middle" style="color:#2199e8;">Область применения</h4>
<p><span>{% autoescape off %}{{production.specifications.application_area}}{% endautoescape %}</span></p>
</div>
</div>
    {%endif%}
<!--Приемущества-->
    {%if production.specifications.comment%}
<div class="media-object stack-for-small" align="middle">

<div class="media-object-section">
<h4 align="middle" style="color:#2199e8;" >Приемущества</h4>
<div id="over_id_content" style="text-align:left;"><span>{% autoescape off %}{{production.specifications.comment}}{% endautoescape %}</span></div>

</div>
</div>
    {%endif%}

</div>

</div>
</div>



<style>


</style>

<div id="myModal" class="reveal medium-12 small-12" data-reveal="true" data-reset-on-close="true" style="margin-left: 30%;margin-right: 30%;padding: 0px;">
  <div id="one" style="margin: 16px;">
<form action="" id="form_send" method=""><div hidden="">{{csrf_token}}</div>
        <h4 id="modalTitle" align="middle"  style="text-transform:uppercase;font-color:white;color:#2199e8;">Оставьте заявку прямо сейчас</h4>

        <h5 align="middle">И наш менеджер свяжется с Вами в течении 15 минут</h5>
          <input 
              type="text"
              class="required" 
              placeholder="Иванов Иван*" 
              id="fio_id" 
              title="Обязательное к заполнению поле" 
              required="" 
              name="name_client"
              >
              
          <input 
              type="text" 
              class="required" 
              placeholder="+7(929)232-23-23*" 
              id="tel_id" 
              title="Обязательное к заполнению поле" 
              required="" 
              name="tel"
              >
             
          <input 
              type="text" 
              class="" 
              placeholder="my_email@email.com" 
              id="email_id" 
              title="Не обязательное к заполнению поле" 
              name="email"
              >

          <input type="text" readonly="" value="{{production.name}}">
          <input type="text" readonly="" value="{{production.alias}}" name="alias" style="display: none;">
          <textarea placeholder="Комментарий" id="comment_id" name="comment" style="
          margin: 0px 2px 16px 0px; 
          height: 135px; 
          width: 565px;
          display: block;
          resize: none;"></textarea> </form>
          <button class="button expanded" style="text-transform:uppercase;" id="send_order_id" onclick="sendAjaxForm('two', 'form_send', '/p={{production.alias}}/');">отправить</button>
   
    <button class="close-button" data-close arial-label="Close modal" type="button" ><span arial-hidden="true">&times;</span></button>



  </div>

  <div id="two" class="success callout" hidden="true" style="border-size:0 0 0 0px;margin:0px 0px 0px 0px;">
          <h4 align="middle">Ваша заявка отправленна, ожидайте звонка консультанта</h4>
          <button class="close-button" data-close arial-label="Close modal" type="button" ><span arial-hidden="true">&times;</span></button>
  </div>
</div>






<script>
$( document ).ready(function() {
    $('#call_modal_btn_id').click(function(){
          $('#two').hide();
          $('#one').show();
          $('#fio_id').css('border','1px solid #cacaca');
          $('#tel_id').css('border','1px solid #cacaca');
    });
});
 
function sendAjaxForm(two, ajax_form, url) {
  if (document.getElementById('form_send').checkValidity())
  {
    $.ajax({
        url:     url, //url страницы (action_ajax_form.php)
        type:     "POST", //метод отправки
        dataType: "html", //формат данных
        data: $("#"+ajax_form).serialize(),  // Сеарилизуем объект
        success: function() { //Данные отправлены успешно
          $('#two').show();
          $('#one').hide();
      },
      error: function() { // Данные не отправлены
            $('#two').html('<h4 align="middle">Ошибка. Данные не отправлены.</h4><button class="close-button" data-close arial-label="Close modal" type="button" ><span arial-hidden="true">&times;</span></button>');
      }
  });
  } else {
   if ($('#fio_id').val()===''){
    $('#fio_id').css('border','solid red')
   }

   if ($('#tel_id').val()===''){
    $('#tel_id').css('border','solid red')
   }

  }
}



</script>



{%endblock%}
